<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IMAGE TO ASCII</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <form action="/output" method="post" class="form">
        <div class="form-element">
        <input type="file" name="input" id="input">
        </div>
        <div class="form-element">
        <button type="reset">RESET</button>
        <button type="submit">SUBMIT</button>
        </div>
    </form>
</body>
</html>