<%- include('./includes/head.ejs') %>
    <form action="/output" method="post" class="form" enctype="multipart/form-data">
        <div class="form-element">
        <input type="file" name="input" id="input">
        </div>
        <div class="form-element">
        <button type="reset">RESET</button>
        <button type="submit">SUBMIT</button>
        </div>
    </form>
</body>
</html>